@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  margin: 60px auto;
  max-width: 600px;
  background: rgb(212, 124, 9);
  font-family: 'Gloria Hallelujah', cursive;
}
.simonBoard {
  width: 500px;
  height: 500px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;

}

.panel {
  display: inline-block;
  position: absolute;
  width: 220px;
  height: 220px;
  border: 20px solid #000;
  cursor: pointer;
  transition: 0.2s background-color;
}

#greenPanel {
  top: 0px;
  left: 0px;
  background-color: #00ff00;
  border-top-left-radius:130px;
}

#greenPanel:active {
  background-color: #079607;
}

#redPanel {
  top: 0px;
  right: 0px;
  background-color: #ff0000;
  border-top-right-radius: 130px;
}

#redPanel:active {
  background-color: #c00303;
}

#yellowPanel {
  bottom: 0px;
  left: 0px;
  background-color: #ffff00;
  border-bottom-left-radius: 130px;
}

#yellowPanel:active {
  background-color: #b8b800;
}

#bluePanel {
  bottom: 0px;
  right: 0px;
  background-color: #0000ff;
  border-bottom-right-radius: 130px;
}

#bluePanel:active {
  background-color: #0000bd;
}

#controlsPanel {
  background-color: #fff;
  top: calc(50% - 100px);
  left: calc(50% - 108px);
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

#controlsPanel h2 {
  text-align: center;
  margin-bottom: 0;
}

#controlsPanel > div {
  margin-top: 5px;
  margin-left: 7px;
}

#counter {
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 5px;
  background-color: #000;
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  margin-left: 150px;
}

footer p {
  margin-bottom: 0px;
}

header {
  position: fixed;
  top: 0;
}

header h1 {
  margin-left: 220px;
  margin-top: -15px;
}

footer span {
  color: #000;
}

div span.toggleButton {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #000;
  vertical-align: middle;
  margin-left: 10px;
  transition: background 1s ease-out; 
}

#controlsPanel .legends {
  font-size: 10px;
  margin-left: 19px;
}

#controlsPanel div.legends span:first-child {
  margin-right: 15px;
}

#controlsPanel div.legends span:last-child {
  margin-left: 15px;
}

#resetToggle {
  background: radial-gradient(#f00,#000); /* Standard syntax */
}
#resetToggle:active {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 25px #000;
}

#strictToggle {
  background: radial-gradient(#ff0,#000); /* Standard syntax */
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}


.yellowSelected {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 25px #000;
}

.onOff {
  position: relative;
  display: block;
  border: 1px solid black;
  width: 43px;
  height: 30px;
  margin-left: 68px !important;
  box-sizing: border-box;
  border-radius: 20px;
  color: #fff;
}

.onOff span{
  position: absolute;
  height: 100%;
}

#indicator {
  margin-left: 8px;
}

.on {
  background: radial-gradient(#00f,#000); /* Standard syntax */
}

.off {
  background: radial-gradient(rgb(221, 34, 34),#000); /* Standard syntax */
}
